<fieldset>
  <legend>Kredyt hipoteczny</legend>
  <div><label>Nieruchomość</label>: <input type="text" name="nieruchomosc" value="<%= nieruchomosc %>" /></div>
  <div><label>Kredyt</label>: <input type="text" name="kredyt" value="<%= kredyt %>" /></div>
  <div><label>Okres</label>: <input type="text" name="okres" value="<%= okres %>" /></div>
  <div><label>RRSO</label>: <input type="text" name="RRSO" value="<%= RRSO %>" size="3" />% <em>ang. Annual percentage rate</em></div>
  <div><input type="button" name="oblicz" id="oblicz" value="Oblicz" /></div>
</fieldset>
